Repository DJ2LS/FreeDATA, pull requests merged in 2021-12, with the labels that each got.

#89 Test framework
  .github/workflows/ctest.yml
  .gitignore
  CMakeLists.txt
  test/000_resampler/t48_8_short.py
  test/001_highsnr_stdio_audio/README.md
  test/001_highsnr_stdio_audio/test_callback_rx.py
  test/001_highsnr_stdio_audio/test_multimode_rx.py
  test/001_highsnr_stdio_audio/test_multimode_tx.py
  test/001_highsnr_stdio_audio/test_pa.py
  test/001_highsnr_stdio_audio/test_rx.py
  test/001_highsnr_stdio_audio/test_tx.py
  test/001_highsnr_stdio_audio/test_virtual1.sh
  test/001_highsnr_stdio_audio/test_virtual1a.sh
  test/001_highsnr_stdio_audio/test_virtual1b.sh
  test/001_highsnr_stdio_audio/test_virtual1c.sh
  test/001_highsnr_stdio_audio/test_virtual2.sh
  test/001_highsnr_stdio_audio/test_virtual3.sh
  test/001_highsnr_stdio_audio/test_virtual_mm.sh
  test/002_highsnr_ping_pong/README.md
  test/002_highsnr_ping_pong/ping.py
  test/002_highsnr_ping_pong/pong.py
  test/003_highsnr_stdio_arq/test_arq_tx.py
  tnc/codec2.py
  tnc/data_handler.py
  tnc/modem.py
  tnc/static.py
Labels: modem, enhancement

#93 gui optimization
  gui/daemon.js
  gui/main.js
  gui/package-lock.json
  gui/preload-main.js
  gui/src/index.html
  tnc/codec2.py
  tnc/daemon.py
  tnc/modem.py
Labels: GUI

#92 PyAudio rx callback and Python<->C Resampler
  CMakeLists.txt
  test/001_highsnr_stdio_audio/test_rx.py
  test/README.md
  test/ping.py
  test/pong.py
  test/t48_8_short.py
  test/test_arq_tx.py
  test/test_audiobuffer.py
  test/test_callback_multimode_rx.py
  test/test_callback_multimode_rx_outside.py
  test/test_callback_multimode_tx.py
  test/test_callback_rx.py
  test/test_callback_rx_outside.py
  test/test_callback_tx.py
  test/test_multimode_rx.py
  test/test_multimode_tx.py
  test/test_pa.py
  test/test_rx.py
  test/test_tx.py
  test/test_virtual1.sh
  test/test_virtual1a.sh
  test/test_virtual1b.sh
  test/test_virtual1c.sh
  test/test_virtual2.sh
  test/test_virtual3a.sh
  test/test_virtual3b.sh
  test/test_virtual4a.sh
  test/test_virtual4b.sh
  test/test_virtual_mm.sh
  tnc/codec2.py
  tnc/data_handler.py
  tnc/modem.py
Labels: modem, enhancement

#95 minor tnc changes
  .github/workflows/build-project.yml
  README.md
  documentation/FreeDATA_preview.gif
  gui/daemon.js
  gui/preload-main.js
  gui/sock.js
  gui/src/index.html
  tnc/daemon.py
  tnc/data_handler.py
  tnc/lib/codec2/linux/libcodec2.so.1.0
  tnc/main.py
  tnc/modem.py
  tnc/rig.py
  tnc/rigctld.py
  tnc/sock.py
  tnc/static.py
Labels: enhancement
