Repository DJ2LS/FreeDATA, pull requests merged in 2023-05, with the labels that each got.

#405 GUI Tweaks
  gui/main.js
  gui/preload-main.js
  gui/src/index.html
Labels: enhancement, GUI

#399 Work on datac4, datac5, datac13, selective repeat ARQ
  .github/workflows/build_multiplatform.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/ctest.yml
  CMakeLists.txt
  gui/preload-chat.js
  gui/preload-main.js
  gui/sock.js
  test/001_highsnr_stdio_audio/test_virtual3.sh
  test/ping.py
  test/test_datac13.py
  test/test_datac13_negative.py
  test/test_helpers.py
  test/test_highsnr_stdio_C_P_datacx.py
  test/test_highsnr_stdio_P_C_datacx.py
  test/test_highsnr_stdio_P_P_datacx.py
  test/test_highsnr_stdio_P_P_multi.py
  test/test_tnc_states.py
  test/test_virtual1.sh
  test/test_virtual1a.sh
  test/test_virtual1b.sh
  test/test_virtual1c.sh
  test/test_virtual2.sh
  test/test_virtual3a.sh
  test/test_virtual3b.sh
  test/util_callback_multimode_rx.py
  test/util_callback_multimode_rx_outside.py
  test/util_callback_multimode_tx.py
  test/util_callback_rx.py
  test/util_callback_rx_outside.py
  test/util_callback_tx.py
  test/util_chat_text_1.py
  test/util_chat_text_2.py
  test/util_datac13.py
  test/util_datac13_negative.py
  test/util_multimode_rx.py
  test/util_multimode_tx.py
  test/util_rx.py
  test/util_tnc_ISS.py
  test/util_tx.py
  tnc/codec2.py
  tnc/config.ini
  tnc/daemon.py
  tnc/data_handler.py
  tnc/explorer.py
  tnc/helpers.py
  tnc/main.py
  tnc/modem.py
  tnc/queues.py
  tnc/rigctld.py
  tnc/selftest.py
  tnc/sock.py
  tnc/static.py
  tnc/stats.py
  tnc/tci.py
Labels: modem, ARQ, TNC

#411 Fix issue #408
  gui/src/index.html
Labels: bug, GUI

#412 Message store and repeat
  gui/main.js
  gui/package.json
  gui/preload-chat.js
  gui/preload-main.js
  gui/sock.js
  gui/src/index.html
  tnc/data_handler.py
  tnc/sock.py
  tnc/static.py
Labels: GUI

#414 Fix slot based busy detection
  gui/preload-main.js
  gui/src/chat-module.html
  gui/src/index.html
  tnc/data_handler.py
  tnc/modem.py
  tnc/sock.py
  tnc/static.py
Labels: TNC

#428 move to GPLv3
  LICENSE
Labels: enhancement

#427 reduce prettier run time
  .github/workflows/prettier.yaml
Labels: enhancement, github_actions

#426 Add TCI to gui
  gui/daemon.js
  gui/main.js
  gui/preload-main.js
  gui/src/index.html
  tnc/config.ini
  tnc/config.py
  tnc/daemon.py
  tnc/data_handler.py
  tnc/main.py
  tnc/modem.py
  tnc/sock.py
  tnc/static.py
  tnc/tci.py
Labels: TNC, GUI

#440 chat related gui fixes
  gui/preload-chat.js
Labels: bug, GUI
