Repository DJ2LS/FreeDATA, pull requests merged in 2024-02, with the labels that each got.

#639 start rigctld from local binary
  .github/workflows/build_server_nsis.yml
  gui/src/components/main_rig_control.vue
  gui/src/components/main_startup_check.vue
  gui/src/components/settings_hamlib.vue
  gui/src/components/settings_rigcontrol.vue
  modem/config.py
  modem/helpers.py
  modem/radio_manager.py
  modem/rigctld.py
Labels: enhancement

#647 Internal rigctld tweaks for windows users
  modem/config.ini.example
  modem/helpers.py
  modem/rigctld.py
Labels: modem

#650 fix problem with isARQ state
  modem/arq_data_type_handler.py
  modem/arq_session.py
  modem/rigctld.py
  modem/schedule_manager.py
Labels: bug, ARQ
